.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  position: relative;
}

.card__image {
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/heart-button-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border-color: transparent;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.card__like-button_active {
  background-image: url(../images/heart-button-active.svg);
}

.card__like-button:hover {
  opacity: 50%;
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: absolute;
  top: 18px;
  width: 18px;
  height: 19.3px;
  padding: 0;
  left: 249px;
  border: none;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.card__delete-button:hover {
  opacity: 60%;
}
