.footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
}

@media screen and (min-width: 481px) and (max-width: 880px) {
  .footer {
    padding: 4%;
    padding: 4%;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    margin: 0;
    padding: 48px 19px 36px;
  }

  .footer__text {
    font-size: 14px;
    line-height: 16.94px;
    max-width: 282px;
  }
}
