@media screen and (min-width: 481px) and (max-width: 880px) {
  .header {
    width: 100%;
    padding-right: 4%;
    padding-left: 4%;
  }

  .profile {
    max-width: 90%;
    padding-right: 4%;
    padding-left: 4%;
    column-gap: 4%;
    margin: 0;
  }

  .profile__add-button {
    margin: 0;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    font-size: xx-large;
    width: 85%;
    line-height: 32px;
  }

  .profile__description {
    line-height: 32px;
    width: 85%;
  }

  .card__list {
    width: 100%;
  }

  .footer {
    padding: 4%;
    padding: 4%;
  }
}

@media screen and (max-width: 480px) {
  .page {
    overflow-x: hidden;
    width: 100%;
  }

  .header {
    margin-top: 28px;
    padding-left: 27px;
    padding-bottom: 32px;
  }

  .profile {
    flex-direction: column;
    width: 100%;
    padding-right: 19px;
    margin: 0;
  }

  .profile__info {
    padding-bottom: 36px;
    padding-top: 30px;
    align-items: center;
    column-gap: 0%;
    row-gap: 14px;
    max-height: 50px;
    max-width: 80%;
  }

  .profile__edit-button {
    display: flex;
    height: 18px;
    width: 18px;
  }

  .profile__description {
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 88%;
    padding: 0;
  }

  .profile__title {
    text-align: center;
    font-size: 22px;
    line-height: 26.63px;
  }

  .profile__image {
    margin: 0;
  }

  .card__list {
    width: 100%;
  }

  .footer {
    margin: 0;
    padding: 48px 19px 36px;
  }

  .footer__text {
    font-size: 14px;
    line-height: 16.94px;
    max-width: 282px;
  }
}
