.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  color: black;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: visibility 0s;
  transition: opacity 0.6s ease, visibility 0s ease 0.6s;
  display: flex;
}

.modal_preview {
  padding: 0 60px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  width: 358px;
  height: auto;
}

.modal__container_preview {
  background-color: transparent;
  padding: 0;
  max-width: 75vh;
  width: fit-content;
}

.modal__image {
  max-width: 100%;
  max-height: 75vh;
  object-fit: cover;
}

.modal__caption {
  height: 12px;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-Icon.svg);
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__title {
  max-width: 93%;
  max-height: 25%;
  margin: 0;
  margin-bottom: 54px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #000;
  border: 1px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.modal__button {
  padding: 0;
  height: 50px;
  background-color: #000;
  color: #fff;
  margin-top: 18px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__caption {
  color: #fff;
}

@media screen and (max-width: 480px) {
  .modal_preview {
    padding: 0 19px;
  }

  .modal__container {
    padding: 23.5px;
  }

  .modal__container_preview {
    width: calc(100vw - 80px);
    max-height: 60vh;
    padding: 0;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
  }

  .modal__close_preview {
    right: -28px;
    top: -28px;
  }

  .modal__heading {
    margin-bottom: 75px;
  }

  .modal__button {
    font-size: 14px;
  }

  .modal__image {
    max-width: 100%;
    object-fit: cover;
    max-height: 60vh;
    height: 400px;
  }
}
